
.App-header {
  padding: 25px;
  font-size: 300%;
  display: flex;
  justify-content: space-between;
}

.snow-logo {
  max-width: 60px;
  opacity: 60%;
}

.game {
  display: flex;
  padding-top: 50px;
  justify-content: center;
}

.grid-row-one {
  display: flex;
}

.grid-row-two {
  display: flex;
}

.grid-item {
  padding: 75px 45px 75px 45px;
  border: 10px solid #999999;
  font-size: 300%;
  color: green;
}